.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

.subheading
{
    font-size: x-small;
    width: 100%;
    margin: 0px;
}

body
{
    background-size: cover;
}

#start, #number_of_objects, #status
{
    font-size: 18px;
}

.copy_right_footer
{
    position: fixed;
    color: rgb(0, 0, 0);
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 174, 255);
    line-height: 3;
    text-align: center;
}

canvas
{
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 130px;
    box-shadow: 5px 5px 10px grey;
}